<form action="/hello" method="POST" class="namecard-form">
  <label class="namecard-prompt">
    Please enter your name:
  </label>
  <input class="namecard-name" type="text" name="username">
  <button class="namecard-submit" type="submit">Submit</button>
</form>
