<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash Cards</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  {{> header}}
  {{#if error}}
    {{{body}}}
  {{else}}
    {{#> app}}
      {{{body}}}
    {{/app}}
  {{/if}}
</body>
</html>